* {
    margin: 0;
    padding: 0;
}

body {
    font-family: ' Manrope', sans-serif;
}

.header {
    height: 30vh;
}

.heading {
    font-family: 'Berkshire Swash', cursive;
}
.orange{
    color: #FF5E19;
}
.list{
    height: 32.2%;
}
.underline{
    padding-left: 37%;
}
#soccer-ball{
    position: relative;
    top: 40%;
    /* margin-top:30px ; */
}
.corner-design{
    background-color: #fff;
}
.soccer-card{
    position: relative;
    top: 4%;
    right: -20%;
}
.line{
    color: gainsboro;
}